<ion-header>
    <ion-navbar color="primary">
        <ion-title>课前测试</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
    <ion-grid>
        <ion-row>
            <ion-col col-10 offset-1>
                <p>
                    1.	学前测试：词汇题：四选一；语音题：四选一。（6道词汇 4道语音）
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button round (click)="startTest()">开始测试！</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>