<ion-header>
    <ion-navbar color="primary">
        <ion-title>课前测试</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
    <ion-grid>

        <ion-row align-items-center>
            <ion-col col-10 offset-1>
                <h1>恭喜您已完成测试!</h1>
                <h2>您的得分：{{score}}</h2>
                <p>根据您的测试结果，更适合您的课程是<span class="courseType">{{courseType}}</span>课程。</p>

                <button ion-button (click)="gotoCourse()">课程介绍</button>
                
                <p>可以先来试听课程哦！</p>
                <button ion-button (click)="gotoDemo()">试听课程</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>