testWelcome {
    .scroll-content {
        background-color: #e0ecca;
        color: #8cb252;
    }

    ion-row {
        text-align: center;
    }
    ion-grid,ion-row {
        height: 100%;

        p {
            font-size: 17px;
            font-weight: 500;
            line-height: 40px;
        }
        h3 {
            margin-bottom: 50px;
            
        }
    }

    .circle {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        border: 7px solid #d2dfbf;
        border-left: 8px solid #e5f3d0;
        margin: 0 auto;
        padding-top: 70px;

        p{
            font-size: 20px;
            line-height: 8px;
        }
    }
    .logo {
        width: 110px;
        height: 110px;
        border-radius: 55px;
        margin: 0 auto;
        background-image: url('../assets/img/getheadimg.jpg');
        background-size: cover;
        background-position: center center;
    }
}