userInfo {
    .scroll-content {
        background-color: #F5F3F8;
        // display: flex;
        // align-items: center !important;
        // justify-content: center !important;
        
    }
    
    .expiryTime {
        padding-left: 10px;
        color: #f53d3d;
    }

    .topPart{
        background: url(http://img1.imgtn.bdimg.com/it/u=15376627,3835261289&fm=11&gp=0.jpg) no-repeat top;
        background-size: 100% ;
        text-align: center;
        padding: 50px 0 30px;
        
        ion-item{
            padding-left: 0px !important;
            background: transparent;
            div{
                display: none !important;
            }
            ion-avatar {
                margin: 0 auto !important;

                img{
                    width: 80px !important;
                    height: 80px !important;
                    border: 4px solid #96d1ef;
                }
            }
        }

        p{
            color: #222;
            font-size: 20px;
            font-weight: bold;
        }
    }
    ion-card {
        ion-icon {
            width: 30px;
        }
    }
}