<!-- <ion-header>
    <ion-navbar color="primary">
        <ion-title>学员信息</ion-title>
    </ion-navbar>
</ion-header> -->

<ion-content class="grid-basic-page">
    <div class="topPart">
        <ion-item >
            <ion-avatar item-left>
                <img src="{{userInfo.headImg}}">
                <!-- <img src="../assets/img/head.png"> -->
            </ion-avatar>
        </ion-item>
        <p>{{userInfo.nickname}}</p>
        <p>会员号：{{userInfo.memberId}}</p>
    </div>
    
    <ion-card>
        <!-- <ion-item>
            <ion-avatar item-left>
                <img src="{{userInfo.headImg}}">
            </ion-avatar>
            <h1>{{userInfo.nickname}}</h1>
        </ion-item>

        <ion-item>
            <h1>会员号：{{userInfo.memberId}}</h1>
        </ion-item> -->
        <ion-item>
            <h1><ion-icon name="ios-person-add-outline"></ion-icon>我的邀请码：{{userInfo.memberId}}</h1>
        </ion-item>

        <ion-item>
            <h1><ion-icon name="ios-trophy-outline"></ion-icon>我的积分：{{ownBonus.bonus}}</h1>
        </ion-item>

        <ion-item>
            <h1><ion-icon name="ios-book-outline"></ion-icon>所学课程：</h1>
            <ion-list >
                <!--<ion-list-header> 所学课程： </ion-list-header> -->
                 <button ion-item *ngFor="let item of this.ownCourse let itemIdx = index" (click)="itemSelected(item)">
                    {{item.courseTitle}}
                    <span class="expiryTime">{{expiryTime[itemIdx]}}</span>
                </button>  
            </ion-list>
        </ion-item>
        
    </ion-card>

    <ion-card>
        <ion-list inset>
            <button ion-item (click)="gotoBonus()">
                积分商城
            </button>
            <button ion-item (click)="goHomework()">
                我的作业
            </button>
        </ion-list>
    </ion-card>
    
</ion-content>