<!-- <ion-header>
    <ion-navbar color="primary">
        <ion-title>购买课程</ion-title>
    </ion-navbar>
</ion-header> -->

<ion-content class="grid-basic-page">
    <ion-card>
        <ion-item>
            <h1>购买课程</h1>
        </ion-item>

        <ion-item ion-item>
            <ion-avatar item-left>
                <img src="{{course.headImg}}">
            </ion-avatar>
            <h2>{{course.courseTitle}}</h2>
            <p>{{course.courseSubtitle}}</p>
        </ion-item>
        <ion-card-content>
            <p>{{course.courseDescription}}</p>
        </ion-card-content>
        
        <ion-list radio-group [(ngModel)]="courseIdx">
            <ion-list-header>
                <h2>请选择下列要购买的系列课程：</h2>
            </ion-list-header>

            <ion-item *ngFor="let item of sellList let i = index">
                <ion-label>{{item.courseName}}：<span class="price">￥{{item.coursePrice}}</span></ion-label>
                <ion-radio checked="false" value="{{i}}"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-label>邀请码：</ion-label>
            <ion-input type="text" [(ngModel)]="inviteCode"></ion-input>
        </ion-item>

        <ion-item class="payBtn">
            <button ion-button color="secondary" (click)="buyCourse()">立即支付</button>
        </ion-item>
    </ion-card>

</ion-content>