course {
    .scroll-content {
        background-color: rgb(248, 248, 248);
    }
    h1 {
        color: #75d29d;
    }
    h1.previous {
        cursor: pointer;
    }
    .playButton {
        background-color: #75d29d;
        width: 13rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 5px;
        margin: 2rem 6rem;
        position: relative;

        ion-icon {
            color: #FFF;
            font-size: 3em;
            text-indent: 1rem;
            visibility: hidden;
            line-height: 4rem;
        }
        
        ion-avatar {
            position: absolute;
            top: -0.5rem;
            left: -6rem;
        }

        ion-avatar img {
            width: 44px !important;
            height: 44px !important;
        }

        .duration {
            display: inline-block;
            height: 4rem;
            line-height: 4rem;
            color: #FFF;
            vertical-align: top;
            text-indent: 1.2em;
            font-size: 2.5rem;
        }

        i.redPoint {
            display:block;
            background:#f00;
            border-radius:50%;
            width:7px;
            height:7px;
            top:5px;
            right:-15px;
            position:absolute;
        }
    }
    .playButton:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 1rem;
        left: -1.9rem;
        border: solid 1rem;
        border-color: transparent #75d29d transparent transparent ;
        font-size: 0;
    }

    .audioUnit {
        border: 3px solid rgb(143,168,67);
        position: relative;

        .soundImg {
            display: inline-block;
            vertical-align: middle;
            height: 22px;
            width: 28px;
            margin-left: -5px;
            margin-right: 3px;
            background-image: url(../assets/img/sound1.png);
            background-size: 19px 17px;
            background-repeat: no-repeat;
            background-position: 7px 1px;
        }
        .soundImg1 {
            display: inline-block;
            vertical-align: middle;
            height: 22px;
            width: 31px;
            margin-left: -5px;
            margin-right: 0;
            background-image: url(../assets/img/sound2.gif);
            background-size: 22px 21px;
            background-repeat: no-repeat;
            background-position: 7px -2px;
        }

        ion-label {
            white-space: normal !important;
        }

        .triangle {
            width:0;
            height:0;
            border-width:50px 50px 0 0;
            border-style:solid;
            border-color:transparent rgb(143,168,67) transparent transparent;
            position:absolute;
            bottom: -1px;
            right: -2px;

            p {
                position: absolute;
                color: #FFF;
                top: -22px;
                right: -48px;
                font-size: 16px;
            }
        }
    }

    .playing {
        
        ion-icon {
            visibility: visible;
        }
    }

    .recordBtn {
        display: block;
        width: 15rem;
        margin: 3rem auto;
    }

    ion-fab[bottom][edge] {
        bottom: 0px !important;
    }
}