<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{course.courseTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
    <ion-card>
        <img src="assets/img/tipsTitle.gif">
        <img src="assets/img/tips.gif">
        <ion-card-content>
            <h1 (click)="preCourse()" class="previous">复习昨日的内容>> </h1>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item *ngFor="let section of detail let sectionIndex = index">
                <h1>{{section.partTitle}}</h1>
                <img src={{section.imgUrl}} *ngIf="section.imgUrl">
            
                <div class="playButton" [ngClass]="{'playing': (section['audioPath'] == curSrc && !_audio.paused) }" (click)="playClick(section['audioPath'],sectionIndex)">
                    <ion-icon name="volume-up"></ion-icon>
                    <ion-avatar item-left><img src="{{course.headImg}}"></ion-avatar>
                    <span class="duration" *ngIf="durationList" >{{durationList[sectionIndex]}}</span>
                    <i class="redPoint" *ngIf="!isPlayed[sectionIndex]"></i>
                </div>
               
               <div class="audioUnit" *ngIf="section['audioContent']" >
                   <ion-list no-lines>
                       <ion-item *ngFor="let item of section['audioContent']" (click)="playClick(item['audioSrc'])" >
                           <i class="soundImg" [ngClass]="{'soundImg1': (item['audioSrc'] == curSrc && !_audio.paused) }"></i> {{item['content']}}
                       </ion-item>
                   </ion-list>
               </div>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <button ion-button round (touchstart)="recodStart($event)" (touchend)="recordEnd($event)" class="recordBtn"><ion-icon name="ios-mic"></ion-icon>{{recordBtnWord}}</button>
</ion-content>