<!-- <ion-header>
    <ion-navbar color="primary">
        <ion-title>{{course.courseTitle}}</ion-title>
    </ion-navbar>
</ion-header> -->

<ion-content class="grid-basic-page">
    <ion-card>
        <!-- <img src="assets/img/tipsTitle.gif">
        <img src="assets/img/tips.gif"> -->
        <img src="assets/img/tip.png">
        <ion-card-content>
            <h1 (click)="preCourse()" class="previous">复习昨日的内容>> </h1>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item *ngFor="let section of detail let sectionIndex = index">
                <h1>{{section.partTitle}}</h1>
                
                <!-- 如何实现sectionIndex的唯一标示  标出每一个audio -->
                 <div *ngFor="let audioItem of section.audioList let audioIdx = index">
                     <img src={{audioItem.content}} *ngIf="audioItem.content">
            
                    <div class="playButton" [ngClass]="{'playing': (audioItem['audioSrc'] == curSrc && !_audio.paused) }" (click)="playClick(audioItem['audioSrc'],sectionIndex,audioIdx)">
                        <ion-icon name="volume-up"></ion-icon>
                        <ion-avatar item-left><img src="{{course.headImg}}"></ion-avatar>
                        <span class="duration" *ngIf="durationMap" >{{durationMap[sectionIndex][audioIdx]}}</span>
                        <i class="redPoint" *ngIf="!isPlayed[sectionIndex][audioIdx]"></i>
                    </div> 
                </div> 

                <div class="audioUnit" *ngIf="section['audioContent'].length !== 0" >
                    <ion-list no-lines>
                        <ion-item *ngFor="let item of section['audioContent']" (click)="playClick(item['audioSrc'])" >
                            <i class="soundImg" [ngClass]="{'soundImg1': (item['audioSrc'] == subSrc && !_audioSub.paused) }"></i> {{item['content']}}
                        </ion-item>
                    </ion-list>
                    <div class="triangle">
                        <p>说吧</p>
                    </div>
                </div>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <button ion-button round (touchstart)="recodStart($event)" (touchend)="recordEnd($event)" class="recordBtn"><ion-icon name="ios-mic"></ion-icon>{{recordBtnWord}}</button>
    
    <ion-card>
        <img src="assets/img/tip2.png">
    </ion-card>

    <ion-fab bottom right edge>
        <button ion-fab color="vibrant" mini (click)="continued()">
            <!-- <ion-icon name="ios-play" *ngIf="playWay==0"></ion-icon>
            <ion-icon name="ios-fastforward" *ngIf="playWay==1"></ion-icon>
            <ion-icon name="md-repeat" *ngIf="playWay==2"></ion-icon> -->

            <ion-icon name="ios-play" *ngIf="!isContinued"></ion-icon>
            <ion-icon name="ios-pause" *ngIf="isContinued"></ion-icon>
        </button>
        <!-- <ion-fab-list>
         
        </ion-fab-list> -->
    </ion-fab>
</ion-content>